.technicianItem {
	border: 1px solid #011936;
	border-radius: 3px;
	width: calc(798px / 4);
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	height: fit-content;
}

.technicianItemTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid #011936;
	background-color: #011936;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	overflow-wrap: break-word;
}
