.activityItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border: 1px solid #465362;
	border-radius: 2px;
	padding: 3px;
	font-weight: 700;
	font-size: 14px;
	color: #465362;
	background-color: #f4fffd;
}

.activityItem:hover .activityItemButton {
	display: flex;
}

.activityItemButton {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
}

.activityItemIcon {
	transition: 0.1s linear;
	scale: 1.3;
	color: #465362;
}

.activityItemButton:hover .activityItemIcon {
	color: #ed254e;
}
