.areaManagerForm {
	display: flex;
	margin-bottom: 20px;
	max-height: 32px;
}

.areaManagerInput {
	border: 1px solid #011936;
	border-radius: 20px;
	width: 80px;
	padding: 7px 15px;
	background: #fff;
	margin-right: 10px;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #011936;
}

.areaManagerButton {
	border: 1px solid #011936;
	border-radius: 20px;
	background-color: transparent;
	padding: 7px 15px;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #011936;
	text-transform: capitalize;
}

.areaManagerButton:hover {
	background-color: #f9dc5c;
}

.areaManagerMessage {
	color: #ed254e;
	font-size: 12px;
}
